*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.line{
    position: absolute;
    height: 4px;
    width: 75%;
    background-color: antiquewhite;
    transition: all 0.5s ease;
}
.main:hover .line:nth-child(1){
    transform: rotate(45deg);
}
.main:hover .line:nth-child(2){
    transform: rotate(-45deg);
}